<form class="form">
  <div class="form__user-input">
    <label class="form__user-input--task"
      >Description<input
        type="text"
        name="description"
        placeholder="Enter Task"
    /></label>
    <fieldset class="form__user-input--date">
      <legend>When</legend>
      <label>
        Today
        <input type="radio" name="when" id="when_today" />
      </label>
      <label>
        Tomorrow
        <input type="radio" name="when" id="when_tomorrow" />
      </label>
      <label>
        Select Date
        <input type="radio" name="when" id="when_select" />
      </label>
    </fieldset>
  </div>
  <div class="form__submit">
    <input type="submit" value="Add task" />
  </div>
</form>

<!--
<form class="taskformular">
  <label for="entertask" class="description"
    >DESCRIPTION<input type="text" id="entertask" placeholder="Enter Task" />
  </label>
  <fieldset>
    <legend>WHEN</legend>
    <div class="datewrapper">
      <input type="radio" name="date" id="today" value="today" />
      <label for="today">Today</label>
      <input type="radio" name="date" id="tomorrow" value="tomorrow" />
      <label for="tomorrow">Tomorrow</label>
      <input type="radio" name="date" id="select" value="select" />
      <label for="select">Select Date</label>
    </div>
  </fieldset>
  <button class="button" type="submit">Add Task</button>
</form>
-->
