input[name="description"] {
  display: block;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

input[name="description"]::placeholder {
  font-weight: var(--fw-primary);
  color: var(--clr-text-primary);
  opacity: 21%;
}

.form__user-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.form__user-input--task {
  padding-left: 1rem;
  font-size: 1rem;
}

.datewrapper {
  background-color: var(--clr-content-background);
  display: flex;
  justify-content: space-around;
  padding: 1.3em;
}

.form__submit {
  background-color: var(--clr-primary);
  border: 0;
  font-weight: var(--fw-primary);
  font-size: 1.25rem;
  color: var(--clr-content-passive);
  padding: 1.5rem;
}

.form__user-input--date legend {
  margin-bottom: 1em;
}

.form__user-input--date {
  border: 0;
  padding-right: 0;
  padding-left: 1rem;
}

input[type="radio"] {
  display: none;
}

input:focus {
  outline: none;
}

label {
  font-size: 0.9rem;
}

input[type="radio"]:checked + label {
  color: var(--clr-primary);
}
