.taskformular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.description {
  font-family: var(--ff-primary);
}

#entertask {
  display: block;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#entertask::placeholder {
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary);
  color: var(--clr-text-primary);
  opacity: 21%;
}
input:focus {
  outline: none;
}
.datewrapper {
  background-color: var(--clr-content-passive);
  display: flex;
  justify-content: space-around;
  padding: 1.3em;
}

fieldset {
  border: 0;
  padding-right: 0;
}

input[value] {
  display: none;
}
.button {
  background-color: var(--clr-primary);
  border: 0;
  font-weight: var(--fw-primary);
  font-size: 1.25rem;
  color: var(--clr-content-passive);
}
legend {
  margin-bottom: 1em;
}
